*.bin
jupyter.log
.virtual_documents
*.pt
*.pyc
*.pth
*.ckpt
*.zip
*.jpg
*.csv
*.png
*.cache
.ipynb_checkpoints

output/*
input
input_old
output
wandb
.ipynb_checkpoints
wandb/*
.Trash-0